{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="col-lg-offset-0 col-lg-9 col-lg-offset-3">
	<p>
		<center>	
			<h2 class="articleTitre">{{ article.title }}</h2>
			<p class="date">{{ article.dateArt|date('d-m-Y') }}</p>
		</center>
		<img src="{{ app.request.basepath }}/images/Articles/{{ article.image }}" class="img-responsive col-lg-offset-1 co-lg-10 imgArticle" alt="{{ article.image }}"/>
		<p class="col-lg-12 contentArticle">{{ article.content }}</p>
		
		<div class="col-lg-12">
			<h3 class="comment">Commentaire</h3>
			{% for comment in comments %}
				<strong>{{ comment.author.username }}</strong> : {{ comment.content }}<br>
			{% else %}
				Aucun commentaire.
			{% endfor %}
		</div>

		<div class="col-lg-12">
			<h3 class="addComment">Ajouter un commentaire</h3>
			{% if commentForm %}
				{{ form_start(commentForm) }}
					<div class="form-group">
						{{ form_errors(commentForm.content) }}
						{{ form_widget(commentForm.content, { 'attr':  {
							'rows': '4',
							'class': 'form-control',
							'placeholder': 'Entrer votre commentaire'
						}}) }}
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Publish comment" />
					</div>
				{{ form_end(commentForm) }}
				{% for flashMessage in app.session.flashbag.get('success') %}
					<div class="alert alert-success">
						{{ flashMessage }}
					</div>
				{% endfor %}
			{% else %}
				<a href="{{ path('login') }} ">Connecté-vous</a> pour ajouter un commentaire.
			{% endif %}
		</div>
	</p>
</div>
{% endblock %}